DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=smart_class

# JWT Authentication
JWT_SECRET=
JWT_ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=

# Google App Password Email Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM_NAME=SmartClassroom-UCJ

# Storage Directories
ASSIGNMENT_QUESTIONS_DIR=storage/assignment_question
STUDENT_SUBMISSIONS_DIR=storage/student_submissions